body{
    display: flex;
    flex-direction: column;

}
#inputarea{
    margin: 30px auto;
}
.selectarea{
    margin: 30px auto;
    user-select: none;
}
.arrow{
    height: 30px;
    width: 30px;
    background-color: bisque;
    user-select: none;
}

.arrow:hover{
    background-color: rgb(255, 0, 0);
}
.num{
    height: 30px;
    width: 30px;
    background-color: lightyellow;
    user-select: none;
}
.num:hover{
    background-color: bisque;
}